<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="demo-wish"class="card text-center">
              <h4> {{ username }} </h4>
           <h3> Wishes you </h3>
           <h4> Happy{{ username }} </h4>
          </div>
        <div id="demo" class="card text-center">
            <form>
                <h2>Create Your Wishes</h2>
                <h4>ENTER YOUR NAME TO WISH YOUR FRIENDS AND FAMILY MEMBERS</h4>
                <span>{{ username }}</span><br/>
                <input type="text" placeholder="Enter your name">
                <input type="submit" class="btn-primary"   value="Go">
            </form>
        </div>
      </div>
</body>
</html>